= form_for(@micropost, url: microposts_path) do |f|
  = render 'shared/errors', object: f.object
  .form
    = f.text_area :content, placeholder: "New post..." 
  = f.submit "Post", class: "btn form-btn"