- @user ||= current_user
.stats
  %strong#following= @user.following.count
  = link_to 'following', following_user_path(@user)
  %strong#followers= @user.followers.count
  = link_to 'followers', followers_user_path(@user)