@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */
html, body {
  height: 100%;
  margin: 0;
}

body {
  background: white;
  .container-fluid {
    min-height: 70%;
    background-color: #666666;
  }
  .container-fluid#container-100ph {
    min-height: 100%;
    background-color: #666666;
  }
}

.alert {
  font-size: 1.2em;
  margin: 5%;
  text-align: center;
}


/* home page */

.left-column{
  float: left;
  width: 62%;
}

.right-column {
  float: left;
  width: 38%;
}

.welcome {
  margin-left: 10%;
  margin-top: 10%;
  color: white;
  font-weight: bold;
  img, h1{
    float: left;
    font-weight: bold;
  }
  p {
    font-size: 1.5em;
    margin: 0 10% 0 25%;
  }
}



/* login-signup form */

.login-form {
  margin: 15% 10% 5% 5%;
  padding-top: 3%;
  background-color: white;
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.47);
}

.signup-form {
  margin: 0 25% 5% 25%;
  width: 50%;
  padding-top: 3%;
  background-color: white;
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.47);
}

h3#login {
  text-align: center;
  color: white;
}
/* header */

.navbar.navbar-inverse.navbar-fixed-top {
  background: #777777; 
  margin-bottom: 0px;
  font-size: 1.5em;
  text-transform: uppercase;
  border-radius: 0px;
  border: 1px solid #5f5f5f;
}

#first-row {
  background: #f8f8f8;
  #logo {
    color: #3b3e44;
    font-weight: bold;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 2em;
    position: fixed-top;
    text-align: left;
    font-size: 3em;
    &:hover {
      color: #1aa7db;
      text-decoration: none;
    }
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  &:hover {
    color: #1aa7db;
    text-decoration: none;
  }
}

#user-name {
  padding-left: 16.666666667%;
}

#navigation {
  padding-right: 16.666666667%;
}


/* footer */

.contact-icons {
  height: 26px;
  width: 26px;
}

footer {
  width: 90%;
  margin: 5% 5%;
  margin-top: 15px;
  padding-top: 5px;
  border-top: 2px solid #666666;
}
.about {
  margin-left: 10%;
}

.contact {
  float: right;
  margin-right: 10%;
  span {
    display: block;
    margin-left: 30%;
  }
}

/* forms */

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  transform: scale(1.3);
  content: "";  
  display: inline-block;  
  width: 15px;  
  height: 15px;  
  vertical-align: middle;
  margin-right: 8px;  
  background-color: #aaa;  
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .3);
  border-radius: 4px;  
}

input[type=checkbox]:checked + label:before {
    content: "\2714"; /* Tick */
    color: #1aa7db;
    background-color: white; 
    text-align: center;
    line-height: 15px;
    text-shadow: 0px 0px 3px #eee;
}

textarea {
  width: 100%;
  height: 7em;
  font-size: 1.35em;
  resize: none;
  &:focus {
    background-color: red;
  }
}


.form {
  padding: 10px 0px;
  margin: 0 10%;
  span {
    display: block;
  }
}

.label-form {
  color: #666666;
  text-transform: uppercase;
  font-size: 0.9em;
}

.input-form {
  width: 100%;
  font-size: 1.5em;
  line-height: 1.2em;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  background: transparent;
  outline: none;
  &:focus {
    border-bottom: 2px solid #1aa7db;
  }
}

.btn {
  background: #3498db;
  border-radius: 0px;
  color: #ffffff;
  font-size: 21px;
  padding: 9px 20px 10px 20px;
  text-decoration: none;
}

#login-btn, #signup-btn {
  margin: 5% 25%;
  width: 50%;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
  color: #ffffff;
}


/* user */

.row.user-info, .row.posts {
  margin-top: 5%;
  text-align: left;
  ul {
    list-style: none;
    font-size: 1.35em;
  }
  .name {
    font-weight: bold;
  }
  .member-since {
    color: #777777;
  }
  img {
    float: left;
    margin-right: 5%;
  }
  a {
    text-decoration: none;
    position: left;
  }
}

/* edit user */

input#user_avatar {
  display: inline;
  margin-left: 10%;
  transform: scale(1.3);
}


/* users */ 

ul.users-list {
  text-align: left;
  li {
   list-style: none;
   margin-top: 4%;
  }

}


/* microposts */
.micropost-count {
  margin-top: 10%;
}

ul.microposts {
  list-style: none;
  li {
    padding-top: 10%;
    border-bottom: 1px solid black;

  }
  .user {
    a {
      margin-left: 8%;
      color: darkblue;
    }
  }
  .content {
    display: block;
    height: 5em;
    margin-left: 30%;
    background-color: whitesmoke;
  }
  .timestamp {
    display: block;
    font-size: 0.9em;
    margin-left: 30%;
    color: #777777;
    a {
      color: black;
      &:hover {
        color: #1aa7db;
      }
    }
  }
}