@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */

body {
  background: #eeeeee;  
  .container {
    padding-top: 20px;
  }
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
}

.center.jumbotron {
  text-align: center;
  margin-top: 3.5%;
  border: 1px solid #bebebe;
}


/* header */

.navbar.navbar-inverse.nabar-fixed-top {
  background: #777777; 
  margin-bottom: 0px;
  font-size: 1.5em;
  text-transform: uppercase;
  padding-right: 16.66666667%;
  border-radius: 0px;
  border: 1px solid #5f5f5f;
}

.navbar-inverse {
  .navbar-nav > li > a {
     color: #fff;
     &:hover {
       color: #1aa7db;
       text-decoration: none;
     }
  }
}

#logo {
  background: #f8f8f8; 
  display: block;
  color: #3b3e44;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 2em;
  position: fixed-top;
  padding-left: 16.66666667%;
  text-align: left;
  font-size: 3em;
  &:hover {
    color: #1aa7db;
    text-decoration: none;
  }
}


/* footer */

.contact-icons {
  height: 32px;
  width: 32px;
}

footer {
  margin-top: 15px;
  padding-top: 5px;
  border-top: 1px solid #bebebe;
  ul {
    list-style: none;
    float: right;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* home */
.btn.btn-lg.btn-primary {
  margin-top: 2.5%;
  background-color: #1aa7db;
  &:hover {
    background-color: #1485af;
  }
}


/* creating-user */

.form-labels {
  font-size: 1.25em;
  color: black;
  letter-spacing: 1px;
  margin-top: 2%; 
}