@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: white;
  .container-fluid.non-logged-in {
    min-height: 70%;
    background-color: #666666;
  }
  .container-fluid.logged-in {
    min-height: 100%;
    height: auto;
    background-color: #fafafa;
  }
}

.alert {
  font-size: 1.2em;
  margin: 5%;
  text-align: center;
}

.alert-danger, .alert-success {
  margin: 0 5%;
  font-size: 1.1em;
  background-color: transparent;
  border: none;
  li {
    list-style: none;
  }
  .errors {
    float: left;
  }
}
.alert-danger {
  color: red;
}
.alert-success {
  color: green;
}


/* home page non logged in */

.left-column{
  float: left;
  width: 62%;
}

.right-column {
  float: left;
  width: 38%;
}

.welcome {
  margin-left: 10%;
  margin-top: 10%;
  color: white;
  font-weight: bold;
  img, h1{
    float: left;
    font-weight: bold;
  }
  p {
    font-size: 1.5em;
    margin: 0 10% 0 25%;
  }
}


/* login-signup */

#errors_div {
  width: 35%;
  margin: 0 25%;
  color: red;
}

.login-form {
  margin: 15% 10% 5% 5%;
  padding-top: 3%;
  background-color: white;
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.47);
}

.signup-form, .reset-password-email-form  {
  margin: 0 25% 5% 25%;
  width: 50%;
  padding-top: 3%;
  background-color: white;
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.47);
}

h3#login {
  text-align: center;
  color: white;
}

/* header */ 

.navbar.navbar-inverse.navbar-fixed-top {
  background: #666666; 
  border-radius: 0px;
  border: 1px solid #5f5f5f;
  font-size: 1.25em;
  min-height: auto;
  color: #fff;
  a {
    color: #fff;
  }
  ul.dropdown-menu li a {
    color: black;
  }
}

#logo-header {
  height: 30px;
  width: 25px;
}
.navbar-inverse .navbar-form {
  border-color: #101010;
  margin-left: 30%;
}

.navbar-brand span#app-name {
  text-transform: uppercase;

}

.navbar-brand {
  padding-top: 10px;
}
/* footer */

.contact-icons {
  height: 26px;
  width: 26px;
}

footer {
  width: 90%;
  margin: 5% 5%;
  margin-top: 15px;
  padding-top: 5px;
  border-top: 2px solid #666666;
}
.about {
  margin-left: 10%;
}

.contact {
  float: right;
  margin-right: 10%;
  margin-bottom: 2%;
  span {
    display: block;
    margin-left: 30%;
  }
}


/* forms */

input[value="Sign up"] {
  margin-bottom: 0;
  margin-top: 0;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  transform: scale(1.3);
  content: "";  
  display: inline-block;  
  width: 15px;  
  height: 15px;  
  vertical-align: middle;
  margin-right: 8px;  
  background-color: #aaa;  
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .3);
  border-radius: 4px;  
}

input[type=checkbox]:checked + label:before {
    content: "\2714"; /* Tick */
    color: #1aa7db;
    background-color: white; 
    text-align: center;
    line-height: 15px;
    text-shadow: 0px 0px 3px #eee;
}

textarea {
  width: 100%;
  height: 6em;
  font-size: 1.1em;
  margin-bottom: 0;
  resize: none;
  &:focus {
    background-color: #eee;
  }
}

.form {
  padding: 10px 0px;
  margin: 0 10%;
  span {
    display: block;
  }
}

.label-form {
  color: #666666;
  text-transform: uppercase;
  font-size: 0.9em;
}

.input-form {
  width: 100%;
  font-size: 1.25em;
  line-height: 1.2em;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  background: transparent;
  outline: none;
  &:focus {
    border-bottom: 2px solid #1aa7db;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}


/* buttons */

.btn, .btn:focus {
  background: #3498db;
  border-radius: 0px;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 9px 20px 10px 20px;
  text-decoration: none;
}

.form-btn {
  margin: 5% 25%;
  width: 50%;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
  color: #ffffff;
}

.post-form .btn {
  padding: 5px 10px 5px 10px;
}

.post-form .form-btn {
  margin: 0 10%;
  width: 80%;
} 

#delete-btn {
  background-color: #f06c6c;
  &:hover {
    background-color: #f38989;
  } 
}

/* posts on home page*/

ul.microposts {
  padding: 0;
  list-style: none;
}

.post {
  width: 100%;
  overflow-wrap: break-word;
  margin: 2.5% 0;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 2px 0px #999999;
  .header {
    width: 100%;
    .avatar {
      float: left;
      width: 20%;
      img {
        height: 48px;
        width: 48px;
      }
    }
    .user {
      float: left;
      width: 50%;
      margin: 2.5% 0 2.5% 2.5%;
      border-bottom: 1px solid #ccc;
    }
    .actions {
      float: left;
      width: 22.5%;
      margin: 2.5% 0 2.5% 5%;
      a {
        color: black;
      }
    }
  }
  .content {
    margin: 0 5% 0 5%;
    clear: both;
  }
  .timestamp {
    clear: both;
    font-size: 0.9em;
    color: #999;
    margin-left: 5%;
  }
}




/* posts on user's page */

.activity .posts .post {
  width: 100%;
  margin: 5% 0;
  .avatar, .user {
    display: none;

  }
}



/* pages(template) - logged in */

.column-1, .column-2, .column-3{
  float: left;
  padding-top: 3%;
  margin: 1%;
}
.column-1 {
  position: fixed;
  width: 19%;
  height: 100%;
}

.column-2 {
  position: fixed;
  width: 54%;
  height: 100%;
  margin-left: 21%;
}

.column-2.scrollable {
  position: absolute;
  float: left;
  padding-top: 3%;
  margin: 1%;
  margin-left: 21%;
  width: 54%;
}

.row#home-logged .column-3 {
  width: 23%;
  margin-left: 76%;
}

.row#show .column-3 {
  width: 23%;
  position: fixed;
  height: 100%;
  margin-left: 76%;
}

.last-training, .training-calender, 
.activity, .settings {
  width: 100%;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 2px 0px #999999;
  padding: 5%;
}

.all-users, .friends {
  padding: 0 5% 0 5%;
}


/* home-logged in-column 1 */

.user-info {
  font-size: 1.25em;
  img {
    margin: 5%;
    box-shadow: 0px 0px 2px 0px #999999;
  }
  div {
    margin-top:  5%;
  }
  .name {
    font-weight: bold;
    text-decoration: none;
  }  
  a {
  color: black;      
  }
  .member-since {
    font-size: 0.9em;
    color: #999999;
  }
}

.row#home-logged .user-info .email, 
.row#home-logged .user-info .member-since,
.user-info#less-info .email, 
.user-info#less-info .member-since {
  display: none;
}

/* home-logged in-column 2 */

.last-training {
  height: 60%;
}

.training-calender {
  height: 34%;
  margin-top: 1%;
}

.last-training {
  padding: 0;
  .header {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
    .add-new {
      float: left;
      width: 10%;
      margin: 1% 5% 1% 5%;
      a {
        text-decoration: none;
        font-size: 2em;
        color: black;
      }
    }
  }
  .training-table {
    float: left;
    width: 100%;
  }
}


/* show-logged in-column 2 */

.activity {
  width: 100%;
  padding: 1% 1% 1% 1%;
  .header {
    width: 100%;
    border-bottom: 1px solid #ccc;
  }
  .trainings, .posts {
    margin: 0 1%;
  }
  .trainings {
    width: 53%
  }
  .posts {
    width: 43%;
  }

}


/* list of users */

.users-list .user {
  width: 100%;
  margin: 2.5% 0;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 2px 0px #999999;
}

.friends ul, .all-users ul {
  list-style: none;
  font-size: 1.25em;
  a {
    color: black;
  }
  img {
    width: 60px;
    height: 60px;
  }
  li {
    margin: 5% 0;
  }
}


/* edit user page */

.settings #delete-btn {
  background-color: red;
  font-size: 1.1rem;
}


/* modals */

#modal-window .modal-content {
  width: 50%;
  margin: 10% 25%;
}


/* others */

@media only screen and (max-width: 768px) {
  .row {
    padding-top: 5%;
  }
}
@media only screen and (min-width: 768px) {
  .row {
    padding-top: 2%;
  }
}

