%footer.footer
  %nav
    %small Made by Jacek Mikołajczak | 2017
    %ul
      %li= link_to image_tag( 'GitHub-Mark.png', class: 'contact-icons'), 'https://github.com/Jacaa', target: '_blank'
      %li= mail_to 'mikolajczak.jaca@gmail.com', image_tag('email.png', class: 'contact-icons'), target: '_blank'
      %li= link_to image_tag( 'facebook.png', class: 'contact-icons'), 'https://www.facebook.com/profile.php?id=100001045635117', target: '_blank'
