= link_to 'MyPlan', root_path, id: 'logo'
%nav.navbar.navbar-inverse.nabar-fixed-top
  %ul.nav.navbar-nav.navbar-right
    %li= link_to 'Home', root_path
    %li= link_to 'About', about_path
    %li= link_to 'Log in', '#'
